
img{
  max-width: 100%;

}
.banner {
  display: flex;
  height: 14.23vw;
  max-width: 90%;
  justify-content: center;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/*THESE ARE FOR SIGN UP - SIGN IN*/
.box-form{
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}
.button_pos {
  display: flex;
  justify-content: center;
  height: 5vh;
}

/*////////////////
///Dashboard//////
//////////////////*/

.dashboard-table{
  background-color: white;
  margin-top: 30px;
}
.dashboard-filter{
  margin-top: 30px;
  width: 20%;
}
.dashboard-container{
  background-color: #F5B041;
  border-radius: 10px;
  margin-top: 10%;
  padding-top: 20px;
}
.dashboard-label{
  display: inline-block;
  float: left;
  margin-left: 8%;
}
.dashboard-label .label{
  padding: 10px;
  margin-left: 10px;
}
.dataTables_filter{
  margin-bottom: 15px;
}
.dashboard-table-avatar{
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
.dashboard-profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
.dashboard-fix-td-margin{
  padding-top: 15px !important;
}
.profile-img{
    margin-right: 5px;
    float: left;
    background: url(../img/1065-IMG_2529.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 20px;
    height: 20px;
}

/*THESE ARE FOR THE PERSONAL PROFILE*/
/*////////////////
///Personal Profile//////
//////////////////*/

.panel panel-default{
  max-width: 90%;
}

.avatar-circle{
  width: 100px;
  height: 100px;
  background-color: inherit;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.initials{
  position: relative;
  top: 25px;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
